
/*  ======================================================
Global Weather Explorer Professional Styling File 
Author: Jemal Hangela
   Project 2: Global Weather Explorer (Interactive Frontend Development Project)
   Last Updated:21 March 2026
====================================================== */

body{

font-family: Arial, Helvetica, sans-serif;
margin:0;
background:linear-gradient(120deg,#4facfe,#00f2fe);
min-height:100vh;
color:#333;

}

header{

text-align:center;
padding:30px;
color:white;

}

/* Calendar */

#calendar{

display:flex;
justify-content:center;
gap:10px;
margin-top:15px;
flex-wrap:wrap;

}

.day{

background:white;
padding:8px 14px;
border-radius:8px;
font-weight:bold;
box-shadow:0 3px 10px rgba(0,0,0,0.1);

}

.today{

background:#ffcc00;
color:black;

}

.search-section{

background:white;
padding:30px;
text-align:center;
margin:20px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);

}

.search-box{

display:flex;
justify-content:center;
gap:10px;

}

input{

padding:12px;
width:220px;
border-radius:5px;
border:1px solid #ccc;

}

button{

padding:12px 20px;
border:none;
border-radius:5px;
background:#1f3c88;
color:white;
cursor:pointer;

}

button:hover{

background:#16306e;

}

.weather-section{

text-align:center;
padding:20px;

}

.weather-card{

background:white;
padding:25px;
width:320px;
margin:auto;
border-radius:12px;
box-shadow:0 5px 20px rgba(0,0,0,0.15);

}

.city-logo{

width:80px;
height:80px;
border-radius:50%;
object-fit:cover;
margin-bottom:10px;

}

.forecast-section{

text-align:center;
padding:30px;

}

#forecastContainer{

display:flex;
justify-content:center;
gap:15px;
flex-wrap:wrap;

}

.forecast-card{

background:white;
padding:15px;
border-radius:10px;
width:130px;
box-shadow:0 4px 15px rgba(0,0,0,0.1);

}

#errorMessage{

color:red;
margin-top:10px;

}

footer{

margin-top:40px;
background:#222;
color:white;
text-align:center;
padding:15px;

}

@media(max-width:600px){

.search-box{

flex-direction:column;

}

.weather-card{

width:90%;

}

}